
$primary: #FAAD2D;
$primary-hover: #db9016;
$secondary: #FA392D;
$secondary-hover: #d32013;
$major: rgb(248,125,9);
$button-text-color: #FFFFFF;
$font-family-sans-serif: "Comfortaa", sans-serif;

/*********************************************/
/*              GENERAL CSS                 "/
/*********************************************/


.btn.btn-primary {
    color: $button-text-color;
    transition: 0.8s cubic-bezier(0.2,1,0.2,1);
}

.btn.btn-primary:hover {
    color: $button-text-color;   
    transform: translateY(-2px);
    background-color: $primary-hover;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: $primary;
}

.btn.btn-secondary {
    color: $button-text-color;
    transition: 0.8s cubic-bezier(0.2,1,0.2,1);
}

.btn.btn-secondary:hover {
    color: $button-text-color;
    background-color: $secondary-hover;
    transform: translateY(-2px);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.cards-bg {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("./assets/img/card_bg.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }


/*********************************************/
/*              HOME CSS                     "/
/*********************************************/

.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: auto;
    width: 30vw;
  }
  
  .home-logo {
    height: 20vh;
    width: 100%;
    background-image: url("./assets/img/logo_transparent_slim.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .home-buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
    width: 20vw;
    background-color: $major;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px;
  }

 
  .home-buttons-container .btn {
    width: calc(100% - 5px);
    margin: auto;
  } 
  
/*********************************************/
/*              LOGIN REGISTER CSS           "/
/*********************************************/

.x-holder {
    margin: 0;
    padding: 2.727px 2.727px 0 2.727px;
    background-color: #000;
    border-radius: 15%;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');